<html>
  <head>
    <title>Welcome to Rusty Hearts!</title>
  </head>
  <body>
    <h1>Welcome to Rusty Hearts</h1>
    <p>Dear {{windyCode}},</p>
    <p>Thank you for creating an account with Rusty Hearts! We are thrilled to have you as part of our community.</p>
    <p>You are now ready to login and start playing Rusty Hearts. As you embark on your journey, remember to have fun and enjoy the game!</p>
    <p>If you have any questions or need assistance with anything, please do not hesitate to contact our support team. We are always here to help you.</p>
    <p>Thank you again for choosing Rusty Hearts. We look forward to seeing you in the game!</p>
    <p>Best regards,<br>Rusty Hearts Team</p>
  </body>
</html>