<!DOCTYPE html>
<html>
  <head>
    <title>[Rusty Hearts] Account Password Changed</title>
  </head>
  <body>
    <p>Hello, {{windyCode}}</p>
    <p>We're writing to let you know that the password for your Rusty Hearts account has been changed. If you made this change yourself, you can disregard this message.</p>
    <p>However, if you didn't change your password or if you're unsure if someone else has gained access to your account, we recommend taking immediate action to secure your account. Here are some steps you can take:</p>
    <ul>
      <li>Change your password again and make sure it's strong and unique</li>
      <li>Contact our support team if you need further assistance or if you believe your account has been compromised</li>
    </ul>
    <p>Best regards,<br>Rusty Hearts Team</p>
  </body>
</html>