<!DOCTYPE html>
<html>
  <head>
    <title>[Rusty Hearts] Account Creation</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>Thank you for registering your email address with your Rusty Hearts account. To complete the registration process, please enter the verification code below:</p>
    <div style="background-color: #f2f2f2; border: 1px solid #000; padding: 10px;">
      {{verificationCode}}
    </div>
    <p>This code will expire in 10 minutes for security reasons. If you do not enter the code within this timeframe, you may need to request a new one.</p>
    <p>If you did not initiate this registration or do not recognize this email, please disregard it and contact our support team immediately.</p>
    <p>Thank you for playing Rusty Hearts!</p>
    <p>Best regards,<br>Rusty Hearts Team</p>
  </body>
</html>